.lista-colunas-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    list-style: none;
  }
  
  .lista-colunas-5 li {
    cursor: pointer;
  }
  
  .titulo {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .content {
    padding: 0;
    margin-left: 50px;
  }
  