.lista-colunas-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  list-style: none;
}

.lista-colunas-5 li {
  cursor: pointer;
}

.lista-colunas-5 li img {
  transition: transform 0.3s ease; /* Adiciona uma transição suave no efeito de transformação */
}

.lista-colunas-5 li img:hover {
  transform: scale(1.1); /* Aumenta a escala da imagem ao passar o mouse sobre ela */
}

.titulo {
  text-align: left;
  margin-top: 25px;
  margin-left: 35px;
}

.content {
  padding: 0;
  margin-left: 50px;
}
