.slider-serie .serie-poster {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.series-carousel-container {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 30px;
}
  
.serie-title {
    text-align: left;
    margin-bottom: 20px;
}
  
.slider-serie {
    display: flex;
    justify-content: center;
}



  